# Files to be explicitly ignored by GitHub.
# Last Edited: 31-01-01
# Created By: Ollie Tooth

# Ignore vscode & tutorials .ipynb files.
.DS_Store
.vs_code/
**/*.ipynb_checkpoints/

# Byte-compiled / optimized / DLL files
__pycache__/

# Testing / Development .ipynb files.
./tutorials/LT_Toolbox_Testing.ipynb