# Files to be explicitly ignored by GitHub.
# Last Edited: 31-01-01
# Created By: Ollie Tooth

# Ignore vscode & tutorials .ipynb files.
.DS_Store
.vs_code/
**/*.ipynb_checkpoints/

# Byte-compiled / optimized / DLL files
__pycache__/

# Development .ipynb files.
/lt_toolbox/trajstore/test_TrajStore.ipynb
/lt_toolbox/trajframe/test_TrajFrame.ipynb

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Sphinx documentation
docs/_build/
docs/_autosummary/
