# Files to be explicitly ignored by GitHub.
# Last Edited: 31-01-01
# Created By: Ollie Tooth

# Ignore vscode & tutorials .ipynb files.
.DS_Store
.vs_code/
**/*.ipynb_checkpoints/

# Byte-compiled / optimized / DLL files
__pycache__/

# Development .ipynb files.
/lt_toolbox/trajstore/test_TrajStore.ipynb
/lt_toolbox/trajframe/test_TrajFrame.ipynb

# Data for Tutorials.
/tutorials/data/*.zarr
/tutorials/data/*.parquet
/tutorials/data/*.mat

# Notebooks for Tutorials
/tutorials/LT_Toolbox_Testing_MITgcm_IrmSea.ipynb
/tutorials/data/Export_MITgcm_Lagrangian_trajectories_to_zarr.ipynb
